/* chrome blue hue fix */
body {
	margin-top: 20px;
}
*:focus {
    outline: 0;
}
html {
	font-family: 'Roboto Slab', serif;
}
div.side-bar {
	position: absolute;
	left: 5px;
	top: -10px;
}
div.side-bar ul {
	float: left;
	padding-left: 5px;
	margin-top: 20px;
}
div.side-bar ul li {
	position: relative;
	list-style-type: none;
	text-decoration: none;
	text-align: center;
	color: white;
	cursor: pointer;
}
div.main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
div.intro {
	color: white;
	width: 100%;
	text-align: center;
	font-size: 4em;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	background-color: #FC7370;
	border-radius: 5px;
	padding: 40px;
	margin-top: 10px;
}
div.cloud img {
	display: block;
	margin: auto;
	height: 24em;
}
li.list-icon {
	padding: 15px;
	background-color: #FC7370;
	border-radius: 9px;
	margin-bottom: 4px;
}
form#login-form {
	position: absolute;
	left: 50%;
	top: 12%;
}
div.input-group {
	position: relative;
	left: -50%;
}
div.input-control input {
	font-size: 2em !important;
	margin-bottom: 10px;
	width: 100%;
	font-size: 100%;
	border: 0;
	padding: 0;
	background-color: transparent;
	border-bottom: 1px solid #eee;
}
button#login-btn {
	background-color: #FC7370;
	color: white;
	border: 0;
	border-radius: 4px;
	font-size: 1.3em;
	margin-top: 15px;
}
form#upload-form {
	display: none;
	color: white;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	background-color: #FC7370;
	border-radius: 5px;
	padding: 40px;
	margin-top: 10px;
}
button#upload-btn {
	background-color: #00FF99;
	color: white;
	border: 0;
	border-radius: 4px;
	font-size: 1.3em;
	margin-top: 15px;
}
button.download-btn {
	background-color: #FC7370;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}
button#download-btn {
	background-color: #00FF99;
	color: white;
	border: 0;
	border-radius: 4px;
	font-size: 1.3em;
	margin-top: 15px;
}
p.file-item {
	width: 100%;
	padding: 4px;
	border: 0;
	background-color: #FC7370;
	border-radius: 9px;
	color: white;
	font-size: 1.4em;
}


